@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
  }

  .scrollbar::-webkit-scrollbar,
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    background: #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb,
  .scrollbar::-webkit-scrollbar-thumb {
    background: #cdcdcd;
  }
}
/* 
@layer base {
  html,
  select {
    scrollbar-width: thin;
  }

  html::-webkit-scrollbar,
  select::-webkit-scrollbar {
    width: 4px;
    background: #ffffff;
  }

  html::-webkit-scrollbar-thumb,
  select::-webkit-scrollbar-thumb {
    background: #cdcdcd;
  }
} */
